:root {
  /* Cores principais */
  --background-color: #F5F5F5;   /* Background Principal */
  --text-color: #333333;         /* Cor do Texto */
  
  /* Cores de Destaque */
  --highlight-color: #d52e2e;    /* Realces e Botões */
  
  /* Feedback */
  --positive-feedback: #4CAF50;  /* Feedback Positivo */
  --negative-feedback: #FF6F61;  /* Feedback Negativo */
  
  /* Detalhes Secundários */
  --secondary-detail: #9E9E9E;   /* Detalhes Secundários */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--highlight-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5261;
}

.success {
  color: var(--positive-feedback);
}

.error {
  color: var(--negative-feedback);
}

hr {
  border: 1px solid var(--secondary-detail);
}

.start h1 {
  color: var(--highlight-color);
  font-size: 3.5em;
}
